<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>Section\Section</fullnamespace>
    <descriptive locale="en_US">
        <title>Sections Module</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Module Sections</title>
    </descriptive>
    <version>1.02</version>
    <author>
        <name>Informatique Prog</name>
        <email>contact@informatiqueprog.net</email>
    </author>
    <type>classic</type>
    <thelia>2.0.0</thelia>
    <stability>prod</stability>
</module>
